<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Obrasci docx</title>
</head>
<body>
    <br>
    <h1>Odaberite obrazac i zaposlenika</h1>
    <br>
    <div>
    <form action="#" method="post">
        {% csrf_token %}
        {#        {{ form }}#}
        <label for="cars">Odaberi izvještaj:</label>
        <select name="report" id="report">
          {% for item in report_list %}
          <option value="{{ item }}">{{ item }}</option>
          {% endfor %}
        </select>
        <br>
        <br>
            <label for="cars">Odaberi zaposlenika:</label>
        <select name="empid" id="id">
          {% for item in employee_list %}
          <option value="{{ item.id }}">{{ item.id }}. {{ item.last_name }}</option>
          {% endfor %}
        <br>
    <br>
        </select>
        <input type="submit" value="Predaj" name="mybtn">
    </form>
    </div>
{#    <br>#}
{#    <button type="button">Izvezi u Word</button>#}
{#        <p><a href="{% url 'admin:employee' %}"}></a>Employee Admin</p>#}

</body>
</html>
